[Unit]
Description=auto-cpufreq - TBU description
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash /usr/bin/auto-cpufreq-daemon

[Install]
WantedBy=multi-user.target