[Unit]
Description=auto-cpufreq - Automatic CPU speed & power optimizer for Linux

[Service]
Type=simple
User=root
WorkingDirectory=/opt/auto-cpufreq/venv
Environment=PYTHONPATH=/opt/auto-cpufreq
ExecStart=/opt/auto-cpufreq/venv/bin/python /opt/auto-cpufreq/venv/bin/auto-cpufreq --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
